@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-red-50;
}

.grid-cols-27 {
  grid-template-columns: repeat(27, minmax(0, 1fr));
}

/* Add custom scrollbar styles */
.overflow-x-auto {
  scrollbar-width: thin;
  scrollbar-color: #ef4444 #fee2e2;
}

.overflow-x-auto::-webkit-scrollbar {
  height: 8px;
}

.overflow-x-auto::-webkit-scrollbar-track {
  background: #fee2e2;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background-color: #ef4444;
  border-radius: 20px;
  border: 2px solid #fee2e2;
}